@import "../../assets/_scss/variables.scss";
@import "../../assets/_scss/mixins.scss";

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  @include background__gradient;
  .login__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background: $backgroundMain;
    padding: 40px;
    border-radius: 8px;
    > div {
      width: 100%;
    }
    .login__actions {
      text-align: center;
      button {
        height: 40px;
      }
    }
  }
}
