.credit__applications {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;

  .credit__applications__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.credit__detail {
  padding: 20px;
}
