@font-face {
    font-family: app;
    src: url('./Strawford-Regular.ttf');
}

@font-face {
    font-family: header;
    src: url('./Strawford-Regular.ttf');
}

@font-face {
    font-family: 'Strawford';
    src: url('./Strawford-Regular.ttf');
}

@font-face {
    font-family: 'strawfordnormal';
    src: url('Strawford-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordmedium';
    src: url('strawford-medium-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordbold';
    src: url('strawford-bold-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
