$primary: #191f38;
$secondary: #7dffb2;
$error: #ff6f00;
$success: #4caf50;
$link: #53c5f9;
$xs: 0px;
$small: 620px;
$medium: 768px;
$large: 992px;
$extraLarge: 1500px;
$containerHeight: calc(100vh - 70px);

// Approbe

$primaryApprobe: #d3d3d3;
$secondaryApprobe: #616161;
$errorApprobe: #fe554a;
$successApprobe: #63c266;
$linkApprobe: #54adff;
$xsApprobe: 0px;
$smallApprobe: 620px;
$mediumApprobe: 768px;
$largeApprobe: 992px;
$extraLargeApprobe: 1500px;
$containerHeightApprobe: calc(100vh - 64px);

//Belipp
$mobile__font: Strawford;
$text__color--principal: #282828;
$text__color--secondary: #4f4f4f;
$text__color--regular: #828282;
$color-white: #ffffff;
$text__color--info: #54adff;
$text__color--error: #fe554a;
$text__color--inputs: #a7a7a7;
$text__color--inputs--filler: #282828;
$text__color--helpertext: #828282;
$text__color--disabled: #cfcfcf;
$background__color--inputs: #fafafa;
$help__background: #54adff;
$background__color__error: #fe554a;

//Belipp new design
$regular__font: "Strawford";

$principal__text__color: #355d78;
$strawfordnormal: strawfordnormal, sans-serif;
$strawfordbold: strawfordbold, sans-serif;
$strawfordmedium: strawfordmedium, sans-serif;

$backgroundMain: #ffffff;
